*{

    box-sizing:  border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



table {

border: 0;
border-spacing: 0.5em;


}
td,tr{
border: 1px solid rgba(128, 128, 128, 0.192);
border-radius: 5px;
padding: 0.8em;
font-size: 1.5em;
text-align: center;
text-transform: uppercase;
}

tr.highlight {
background-color: aliceblue;
border: 5px solid rgba(153, 240, 243, 0.192);

font-weight: 800;
color:rgb(22, 72, 116);

}