* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(29, 27, 27, 0.878);
}

body {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 0.7em;
}

input,
button {
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.285);
  border-radius: 0.4em;
  text-transform: lowercase;
  padding: 0.8em;
}

table {
  padding: 1em;
  border: 0;
  border-spacing: 0.5em;
}

td,
tr {
  border: 1px solid rgba(128, 128, 128, 0.192);
  border-radius: 5px;
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
  width: 5em;
  height: 5em;
  font-weight: 800;
  visibility: hidden;
  transition: 100ms linear;
}

tr:hover {
  transform: scale(1.03);
  transition: 100ms linear;
}

tr.highlight {
  background-color: aliceblue;
  color: rgb(22, 72, 116);
}

.yellow {
  background-color: #e0f76d;
}

.red {
  background-color: #f57242;
}

.green {
  background-color: #6df776;
}

.letters-gone {
  width: 100%;
  text-align: center;
}

.invisible {
  visibility: hidden;
}

svg {
  width: 1em;
  animation: turnItReload 100ms linear;
}

section {
  width: 20%;
  position: relative;
}

input {
  flex: 1;
}

form {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
}

@keyframes turnItReload {
  to {
    transform: rotate(180deg);
  }
}

@keyframes appearTable {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
